# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
build/
out/
.gradle/
.idea/
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/workspace.xml
.idea/vcs.xml
teamnews.iml
